/* Базовые стили для всей страницы */
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  background-color: #f4f7f6;
  color: #333;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

/* Контейнер всего приложения */
#app {
  width: 100%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #2c3e50;
}

/* Форма добавления */
.habit-form {
  display: flex;
  gap: 10px; /* Расстояние между инпутом и кнопкой */
  margin-bottom: 20px;
}

.input {
  flex-grow: 1; /* Инпут занимает все доступное место */
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.input:focus {
  outline: none;
  border-color: #7f8c8d;
}

.button {
  padding: 10px 15px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #2980b9;
}

/* Список привычек */
.habits-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Отдельный элемент привычки */
.habit-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #ecf0f1;
  border-radius: 5px;
}

.habit-item:hover {
  background-color: #f0f0f0;
}

.habit-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #ecf0f1;
  border-radius: 5px;
}

.habit-item__text {
  font-size: 18px;
}

.habit-item.habit-item--done .habit-item__text {
  text-decoration: line-through;
  color: #95a5a6;
}

.habit-item__actions {
  display: flex;
  gap: 10px;
}

.button--complete {
  background-color: #2ecc71;
}
.button--complete:hover {
  background-color: #27ae60;
}

.button--delete {
  background-color: #e74c3c;
}

.button--delete:hover {
  background-color: #c0392b;
}
