@use 'header';
@use 'table';
@use 'toolbar';
@use 'formula';
@use 'dashboard';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  background-color: #f4f7f6;
}

.exel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: 0.8rem;
}

/* Контейнер всего приложения */
#app {
}
