@use 'globals';

.excel__toolbar {
  position: absolute;
  height: globals.$toolbar-height;
  left: 0;
  right: 0;
  top: globals.$header-height;
  border-top: 1px solid globals.$border-color;
  border-bottom: 1px solid globals.$border-color;
  padding: 7px 10px;
  display: flex;

  .button {
    @include globals.button(green);
  }
}
